<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jungletribe</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/uikit.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/jungletribe.styles.css" asp-append-version="true" />-->
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/uikit-icons.min.js"></script>
</head>
<body>
    <div class="jungle-wrapper">
        <header>

            <nav class="uk-navbar-container">
                <div class="uk-container">
                    <div uk-navbar>
                        <div class="uk-navbar-left uk-flex">
                            <div>
                                <img src="@Url.Content("~/images/logo-jt-green.svg")" alt="icons" style="width: 8rem;" />
                            </div>
                            <ul class="uk-navbar-nav">
                                <li>
                                    <a href="#">Destinacije <span uk-navbar-parent-icon></span></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="#">Afrika</a></li>
                                            <li><a href="#">Azija</a></li>
                                            <li><a href="#">Evropa</a></li>
                                            <li><a href="#">Juzna Amerika</a></li>
                                            <li><a href="#">Severna Amerika</a></li>
                                            <li><a href="#">Karibi i Centralna Amerika</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="green">Grupna putovanja <span uk-navbar-parent-icon></span></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="#">Avanture i ekspedicije</a></li>
                                            <li><a href="#">Daleke destinacije</a></li>
                                            <li><a href="#">Nova godina</a></li>
                                            <li><a href="#">Proputovanja</a></li>
                                            <li><a href="#">Letovanja</a></li>
                                            <li><a href="#">Zimovanja</a></li>
                                            <li><a href="#">Izleti</a></li>
                                            <li><a href="#">Akcije</a></li>
                                            <li><a href="#">Krstarenje</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="orange">Individualna putovanja</a></li>
                                <li><a href="#">Kalendar</a></li>
                                <li><a href="#">Putopisi</a></li>
                                <li>
                                    <a href="#">O nama <span uk-navbar-parent-icon></span></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="#">Opsti uslovi putovanja</a></li>
                                            <li><a href="#">Politika privatnosti</a></li>
                                            <li><a href="#">Uslovi koriscenja</a></li>
                                            <li><a href="#">Pravilinik o zastiti podataka licnosti</a></li>
                                            <li><a href="#">Kontakt</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="search-bgdImage">
                <img src="@Url.Content("~/images/jtbg.min.jpg")" alt="icons" style="width: 100%; height: 15rem; object-fit: initial;" />
            </div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - jungletribe - <a asp-area="" asp-controller="Home" asp- action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
